$primary: #33C3F0
$buff: 5px
$green: #33FF98
$yellow: #FFA500
$red: #F02C18

*
  box-sizing: border-box

.loginForm
  display: inline
  color: black
  & input
    display: inline
    color: black

.badge
  background-color: white
  border-radius: 5px
  color: black
  padding: 0 $buff 0 $buff
  margin: $buff

.shiftList
  display: inline-block

.placeholder
  vertical-align: top

.boxy
  height: 150px
  width: 150px
  border: 1px solid $primary
  border-radius: 5px
  margin: 10px
  display: inline-block

.shiftForm
  @extend .boxy
  padding: 10px 5px 0 5px
  & input
    width: 130px

.statusBar
  height: 35px
  width: 100%


.nav
  height: 100px
  color: white
  background-color: $primary
  padding: 20px
  display: inline-block

.offer
  padding: 0px
  width: 25px
  height: 25px
  line-height: 25px
  margin: $buff

.plus
  @extend .offer
  margin-left: 60px
  margin-top: 60px

.offerYes
  @extend .offer
  border-color: $green
  &.selected
    background-color: $green

.offerNo
  @extend .offer
  border-color: $red
  &.selected
    background-color: $red

.offerMaybe
  @extend .offer
  border-color: $yellow
  &.selected
    background-color: $yellow


