!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ShiftUp
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %link{:href => "//fonts.googleapis.com/css?family=Raleway:400,300,600", :rel => "stylesheet", :type => "text/css"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      .row
        .nav.u-full-width
          .row
            .five.columns
              %h1 ShiftUp
            .seven.columns
              =react_component('LoginBox', url: "/sessions")


      = yield
